$font__stack--light: 'Stag Sans Light', sans-serif;
$font__stack--bold: 'Stag Sans Bold', sans-serif;
$font__stack--book: 'Stag Sans Book', sans-serif;
$font__stack--lightitalic: 'Stag Sans Light Italic', sans-serif;
$font__alternative--thin: 'Neutra Display Thin', sans-serif;
$font__alternative--light: 'Neutra Display Light', sans-serif;
$font__alternative--medium: 'Neutra Display Medium', sans-serif;
$font__alternative--bold: 'Neutra Display Bold', sans-serif;

$font__menu: 'Neutra Display Medium', sans-serif;
$font__title: 'Neutra Display Light', sans-serif;
$font__text: 'Stag Sans Light', sans-serif;

$color__copy: #231F20;
$color__language: #333333;
$color__bg2: #F4F4F4;
$color__inputs: #A4A4A4;
$color__bg3: #D2D2D2;
$color__bg4: #D3D3D3;

$em-base: 16px !default;

$prefix-for-webkit:    true !default;
$prefix-for-mozilla:   true !default;
$prefix-for-microsoft: true !default;
$prefix-for-opera:     true !default;
$prefix-for-spec:      true !default;
