.map{
  min-height: 635px;
  width: 100%;
}

#map {
  height: 635px;
  width: 100%;
 }

 #googleMap {
   width: 100%; height: 400px; top: 0; left: 0; right: 0; bottom: 0;

 }

/*style the box*/
.gm-style .gm-style-iw {
  margin: 0;
  padding: 0 0 0 12px;
  border-radius: 0;
  font-family: $font__alternative--medium;
  text-align: center;
  top: 15px !important;
  width: 340px !important;
}

/*style the arrow*/
.gm-style > div > div > div > div  {
  padding: 0;
  margin: 0;
  padding: 0;
  top: 0;
}

.gm-style-iw {

}
